<h1 class="header"> Rick and Morty </h1>

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Species
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/species?species=human">Human</a></li>
                        <li><a class="dropdown-item" href="/species?species=alien">Alien</a></li>
                        <li><a class="dropdown-item" href="/species?species=robot">Robot</a></li>
                        <li><a class="dropdown-item" href="/species?species=animal">Animal</a></li>
                        <li><a class="dropdown-item" href="/species?species=humanoid">Humanoid</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/search">Search</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/dogfacts">Dog Facts</a>
                </li>
            </ul>
        </div>
    </div>
</nav>